body{
 font-family: 'Poppins', sans-serif !important;
 font-size: 14px !important;
 background-color: #F6F6F6 !important;
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Poppins', sans-serif !important;
}
.diary-default-bg{
 background: #EB62A3;
}

.nav-link{
 font-size: 12px !important;
}

.divider{
 background: #C4C4C4;
 height: 1px;
}

div.top{
 background: #376B9D;
 height: 55px;
 position: absolute;
}

.section{
 top: 15px;
 position: relative;
}
.btn{
 font-size: 12px !important
}
.btn-default{
 background: #EB62A3;
 box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
 color: #fff;
}
.btn-default:hover{
 background: #EB62A3;
 box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
 color: #fff;
 border-color: #F591C0;
}
.btn-grey{
 background: #C4C4C4;
 box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
 color: #4F4F4F;
}
.btn-grey:hover{
 background: #C4C4C4;
 box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
 color: #333333;
 border-color: #333333;
}
.diary-card{
 background: #FFFFFF !important;
 box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.08) !important; 
 border-radius: 10px !important;
 margin: 15px;
}

.card-head{
 background-color: #E7ECED;
 border-top-left-radius: 10px !important;
 border-top-right-radius: 10px !important;
}
.card-bg-footer{
 background: #EB62A3;
 border-bottom-left-radius: 10px !important;
 border-bottom-right-radius: 10px !important;
}
.diary-center-border-2{
 color: #4F4F4F;
 border: 2px solid #E7ECED;
 box-sizing: border-box;
 box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.08);
 border-radius: 10px;
}
.diary-center-border{
 color: #4F4F4F;
 border: 2px solid #E7ECED;
 box-sizing: border-box;
 box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.08);
}
.text-default{
 color: #828282;
}
.border-3{
 border: 1px solid #729CC5;
 border-radius: 10px;
}
.text-default > img{
 vertical-align: middle;
 margin-bottom: 0.4em;/
}
.calender::before {
 content: url(../img/Calendar%20icon.png);
}
.r-position{
 position: absolute;
}

.top-menu{
 right: 10px;
 top: 15px;
}

.feed-item{
 position: absolute;
 will-change: transform;
 top: 0px;
 left: 0px;
 transform: translate3d(315px, 31px, 0px) !important;
}
.color-2{
 color: #4F4F4F !important;
}

.color-3{
 color: #0B0A0A;
}

.font-12{
 font-size: 12px !important;
}
.quickadd{
 background: #ECECEC;
 box-shadow: 0px 4.82243px 4.82243px rgba(0, 0, 0, 0.25)
}
.form-control {
 display: block;
 width: 100%;
 height: calc(2.25rem + 2px);
 padding: .375rem .75rem;
 font-size: 12px !important;
 font-weight: 400;
 line-height: 1.5;
 color: #495057;
 background-color: #fff;
 background-clip: padding-box;
 border: 1px solid #ced4da;
 border-radius: .25rem;
 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.immunization{
 background: #FFFFFF;
 box-shadow: -4.32933px 4.32933px 10.8233px rgba(0, 0, 0, 0.08);
 border-radius: 10.8233px;
}

.vacine-pending{
 font-style: normal;
 font-weight: 500;
 line-height: 28px;
 font-size: 18px;
 letter-spacing: 0.12em;
}

.font-9{
 font-size: 9px !important;
 font-weight: normal
}
.font-10{
 font-size: 10px !important;
 font-weight: normal
}
.border-right-measurement{
 border-right: 2px solid #C4C4C4;
}

.measure td{
 font-size: 11px !important;
}
.measurment-center-border{
 background: #FFFFFF;
 box-shadow: -4.32933px 4.32933px 10.8233px rgba(0, 0, 0, 0.08);
 border-radius: 10.8233px;
}
.measurement-border{
 border: 0.5px solid #828282;
 box-sizing: border-box;
 border-radius: 10px;
}

/*Upload button*/
.upload-btn-wrapper {
 position: relative;
 overflow: hidden;
 display: inline-block;
}

.btn-upload {
 border: 2px solid gray;
 color: gray;
 background-color: white;
 padding: 8px 20px;
 border-radius: 8px;
 font-size: 12px;
 font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
 font-size: 100px;
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
}

.bg-white{
 background-color: #ffffff;
}