/*!
* Slidebars Website
* Version: 2.0
* Url: http://www.adchsm.com/slidebars/
* Author: Adam Charles Smith
* Author url: http://www.adchsm.com/
*/



/* line 1, ../sass/_canvas.scss */
[canvas=container] {
 margin-top: 60px;
 height: -webkit-calc( 100% - 60px );
 height: -moz-calc( 100% - 60px );
 height: calc( 100% - 60px );
}

/* line 1, ../sass/_off-canvas.scss */
[off-canvas] {
 background-color: #376b9d;
}
/* line 4, ../sass/_off-canvas.scss */
[off-canvas] .padded-box {
 padding: 20px;
}
/* line 8, ../sass/_off-canvas.scss */
[off-canvas] ul.menu {
 margin: 0;
 padding: 0;
 display: block;
 list-style: none;
}
/* line 14, ../sass/_off-canvas.scss */
[off-canvas] ul.menu li a {
 color: rgba(255, 255, 255, 0.87);
 display: block;
 padding: 15px;
 /*  height: 20px;*/
 background-color: rgba(255, 255, 255, 0);
 -webkit-transition: all 200ms ease-in-out 0s;
 transition: all 200ms ease-in-out 0s;
}
/* line 23, ../sass/_off-canvas.scss */
[off-canvas] ul.menu li a:hover {
 color: #ffffff;
 background-color: rgb(235, 98, 163);
}



/* line 90, ../sass/_off-canvas.scss */
.custom-responsive-width {
 width: 70%;
}
@media (min-width: 500px) {
 /* line 90, ../sass/_off-canvas.scss */
 .custom-responsive-width {
  width: 50%;
 }
}
@media (min-width: 1000px) {
 /* line 90, ../sass/_off-canvas.scss */
 .custom-responsive-width {
  width: 30%;
 }
}


/* line 111, ../sass/_off-canvas.scss */
.custom-transition-duration {
 -webkit-transition-duration: 200ms;
 transition-duration: 200ms;
}

/* line 116, ../sass/_off-canvas.scss */
.custom-transition-duration-2 {
 -webkit-transition-duration: 600ms;
 transition-duration: 600ms;
}

/* line 1, ../sass/_controls.scss */
[class*=js-open-],
[class*=js-toggle-],
[class*=js-close-] {
 cursor: pointer;
}

/* line 1, ../sass/_nav.scss */
nav[canvas] {
 position: fixed;
 top: 0;
 width: 100%;
 background-color: white;
 height: 60px;
 line-height: 60px;
 font-size: 24px;
 font-weight: 100;
 text-align: center;
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 13, ../sass/_nav.scss */
nav[canvas] .button {
 top: -5px;
}
@media (max-width: 413px) {
 /* line 18, ../sass/_nav.scss */
 nav[canvas] .button .fa {
  margin: 0;
 }
}
/* line 24, ../sass/_nav.scss */
nav[canvas] .button span.text {
 display: none;
}
@media (min-width: 414px) {
 /* line 24, ../sass/_nav.scss */
 nav[canvas] .button span.text {
  display: inline;
 }
}


/* line 1, ../sass/_manhattan.scss */
[mhtn=container] {
 max-width: 900px;
}

/* line 5, ../sass/_manhattan.scss */
[canvas=container] [mhtn=row]:not(.no-margin) {
 margin-top: 20px;
 margin-bottom: 20px;
}
@media (min-width: 900px) {
 /* line 5, ../sass/_manhattan.scss */
 [canvas=container] [mhtn=row]:not(.no-margin) {
  margin-top: 40px;
  margin-bottom: 40px;
 }
}


/* line 1, ../sass/_sidebar.scss */
.sidebar {
 margin-top: 10px;
 padding: 25px 0 5px 0;
 border-top: 1px solid rgba(0, 0, 0, 0.1);
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 900px) {
 /* line 1, ../sass/_sidebar.scss */
 .sidebar {
  margin-top: 23px;
  padding: 0;
  border-top: 0;
  border-bottom: 0;
 }
}

