<!DOCTYPE html>
<html lang="">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baby diary | SignIn</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/onboarding.css">
  <link rel="stylesheet" href="css/datepicker.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

 </head>

 <body class="signup-bg">
  <div class="container" >
   <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="img/logo-white.png" alt="Bbaydiary logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item active px-md-4">
       <a class="nav-link text-white" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-md-4">
       <a class="nav-link text-white" href="blog.html">Blog</a>
      </li>
      <li class="nav-item px-md-4">
       <a class="nav-link text-white" href="faq.html">FAQ</a>
      </li>

      <li class="nav-item px-md-3">
       <a class="nav-link text-white py-md-1" href="#" tabindex="-1" aria-disabled="true"><button class="btn btn-outline-white btn-sm my-2 my-sm-0 px-3 text-white" type="submit">sign in</button></a>
      </li>
      <li class="nav-item px-md-2 ">
       <a class="nav-link py-md-1" href="signup.html" tabindex="-1" aria-disabled="true"><button class="btn btn-outline-white btn-sm my-2 my-sm-0 px-3 text-white" type="submit">sign up</button></a>
      </li>
     </ul>
    </div>
   </nav>
  </div>

  <!--   navigation ends-->

  <div class="container mt-3" id="diary-app">
   <div class="row justify-content-center">
    <div class="col-md-3 border border-light log-box">
     <span class="img-right"><img src="img/image-right.png" /></span>
     <span class="img-left"><img src="img/image-left.png" /></span>
     <form>

      <!--      signup form ends here-->

      <section v-if="step === 1">
       <p class="text-center mt-5 mb-4" style="margin-top: 50px !important;">Register to create account <img src="img/happy.png" alt="happy smiley" /></p>


       <div class="form-group my-2">
        <label>First Name</label>
        <input v-model="registration_data.firstname" type="text" class="form-control input-lg" />
       </div>

       <div class="form-group my-4">
        <label>Last Name</label>
        <input v-model="registration_data.lastname" type="text" class="form-control input-lg" />
       </div>

       <div class="form-group my-4" >
        <label style="bottom: 42px" >Gender</label>
        <select class="form-control" style="height: calc(2.25rem + 2px);">
         <option>Male</option>
         <option>Female</option>
        </select>
       </div>

       <div class="form-group my-4">
        <label>Create Four Digit PIN</label>
        <input v-model="registration_data.pin" type="password" class="form-control input-lg" />
       </div>

       <div class="form-group mt-4">
        <label>Comfirm PIN</label>
        <input type="password" class="form-control input-lg" />
       </div>


       <div class="col my-3">
        <small class="text-center">By creating your Nurturey account you confirm that you
         agree with Baby Diary’s Terms of Service.
        </small>
       </div>

       <div class="col">
        <button @click.prevent="next" class="btn btn-signup btn-block rounded-0">SIGN UP</button>
       </div>

       <div class="col my-3">
        <p class="text-center">Already have an account?</p>
       </div>

       <div class="col mb-4">
        <button  class="btn btn-signup btn-block rounded-0">SIGN IN</button>
       </div>
      </section>

      <!--baby/pregnancy form ends here-->
      <section v-if="step === 2" style="margin-top: 80px !important;">

       <div class="form-group my-3">
        <label style="bottom: 132px">Expecting a baby/ Have a child?</label>
        <div class="row">
         <div class="col p-4">
          <div class="text-center">
           <a @click.prevent="child" href="" class="no-text-decoration" ><img src="img/baby%20boy.png" alt="child" />
            <p class="text-default text-center m-2">Child</p></a>
          </div>
         </div>
         <div class="col p-4">
          <div class="text-center">
           <a @click.prevent="pregnant" href="" class="no-text-decoration" >
            <img src="img/pregnant.png" alt="pregnant" />
            <p class="text-default text-center m-2">Pregnant</p>
           </a>

          </div>
         </div>
        </div>
       </div>

       <div class="row">
        <div class="col my-3 text-center">
         <button @click.prevent="back" class="btn btn-signup rounded-0">BACK</button>
        </div>
        <div v-if="registration_data.status" class="col my-3 text-center">
         <button @click.prevent="stage" class="btn btn-signup rounded-0">NEXT</button>
        </div>
        <div v-if="registration_data.child" class="col my-3 text-center">
         <button @click.prevent="next" class="btn btn-signup rounded-0">NEXT</button>
        </div>
       </div>

      </section>

      <!--Gender form ends here-->
      <section v-if="step === 3" style="margin-top: 80px !important;">
       <div class="form-group my-3">
        <label style="bottom: 124px">Gender of child</label>
        <div class="row">
         <div class="col p-4">
          <div class="text-center">
           <a href="" class="no-text-decoration" ><img src="img/masculine.png" alt="male" />
            <p class="text-default text-center m-2">Male</p></a>
          </div>
         </div>
         <div class="col p-4">
          <div class="text-center">
           <a href="" class="no-text-decoration" >
            <img src="img/femenine.png" alt="female" />
            <p class="text-default text-center m-2">Female</p>
           </a>

          </div>
         </div>
        </div>
       </div>

       <div class="form-group my-4">
        <label>Child Name</label>
        <input v-model="registration_data.childname" type="text" class="form-control input-lg" />
       </div>

       <div class="row">
        <div class="col my-3 text-center">
         <button @click.prevent="back" class="btn btn-signup rounded-0">BACK</button>
        </div>
        <div class="col my-3 text-center">
         <button @click.prevent="submit" class="btn btn-signup rounded-0">FINISH</button>
        </div>
       </div>


      </section>


      <!--day of delivery form ends here-->
      <section v-if="step === 4" style="margin-top: 80px !important;">
       <div class="form-group my-3">
        <label style="bottom: 100px">Expected Day of Delievery</label>
        <div class="row">
         <div class="col p-4">
          <div class="input-group">
           <!--           <input data-toggle="datepicker" type="text" class="form-control docs-date" name="date" placeholder="Pick a date" style="height: 3rem">-->
           <date-picker type="text" class="form-control docs-date" name="date" placeholder="Pick a date" style="height: 3rem"></date-picker>
           <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled>
             <i class="far fa-calendar-alt" aria-hidden="true"></i>
            </button>
           </div>
          </div>
         </div>
        </div>
       </div>
       <!--data-toggle="datepicker" -->
       <p class="text-default text-center">OR</p>

       <div class="col mb-4">
        <button @click.prevent="next" class="btn btn-signup btn-block rounded-0">USE LAST PERIOD CYCLE</button>
       </div>

       <div class="col mb-4">
        <button @click="next" class="btn btn-signup btn-block rounded-0">FINISH</button>
       </div>

      </section>


      <!--LAST PERIOD CYCLE form ends here-->
      <section v-if="step === 5" style="margin-top: 80px !important;">

       <div data-toggle="datepicker"></div>
       <div class="form-group my-3">
        <label style="bottom: 100px">LAST PERIOD CYCLE</label>
        <div class="row">
         <div class="col p-4">
          <div class="input-group">
           <!--           <input data-toggle="datepicker" type="text" class="form-control docs-date" name="date" placeholder="Pick a date" style="height: 3rem">-->
           <date-picker type="text" class="form-control docs-date" name="date" placeholder="Pick a date" style="height: 3rem"></date-picker>
           <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" disabled>
             <i class="far fa-calendar-alt" aria-hidden="true"></i>
            </button>
           </div>
          </div>
         </div>
        </div>
       </div>

       <p class="text-default text-center">OR</p>

       <div class="col mb-4">
        <button @click.prevent="back"  class="btn btn-signup btn-block rounded-0">BACK</button>
       </div>

       <div class="col mb-4">
        <button @click.prevent="submit" class="btn btn-signup btn-block rounded-0">FINISH</button>
       </div>

      </section>



     </form>
    </div>
   </div>

   <!--   <input data-toggle="datepicker" type="text" class="form-control docs-date" name="date" placeholder="Pick a date" style="height: 3rem">-->
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
   Vue.component('date-picker', {

    template: `<input />`,
    props: [ 'datepicker' ],
    mounted: function() {
     $(this.$el).datepicker();
     datepicker: this.datepicker
    }
   });
   new  Vue({
    el : '#diary-app',
    data(){
     return{
      step: 1,
      registration_data : {
       firstname : null,
       lastname : null,
       gender : null,
       pin : null,
       child : null,
       status : null,
       babygender : null
      }
     }
    },
    methods : {
     next : function(){
      this.step++;
     },
     back : function(){
      this.step--;
     },
     finish : function(){
      //      this.registration_data.push()
      let details = JSON.stringify(this.registration_data);
      console.log(details);
     },
     child : function(){
      this.registration_data.child = 'child';
      this.registration_data.status = null;
      let details = JSON.stringify(this.registration_data);
      console.log(details);
     },
     pregnant : function(){
      this.registration_data.status = 'pregnant';
      this.registration_data.child = null;
      let details = JSON.stringify(this.registration_data);
      console.log(details);
     },
     stage : function(){
      this.step = 4;
     }
    }
   })
  </script>

  <script src="js/datepicker.js"></script>
  <script>

   $('[data-toggle="datepicker"]').datepicker();

   //   $(function() {
   //    $('[data-toggle="datepicker"]').datepicker({
   //     autoHide: true,
   //     zIndex: 2048,
   //    });
   //   });
  </script>

 </body>
</html>
